
.saiwei-flag {
    padding: 16px 24px 16px 16px;
    background: url(../images/saiwei_marker_bg.svg) no-repeat;
    background-size: 100% 100%;
    color: white;
    font-size: 18px;
    margin-top: 32px;
    text-align: center;
    width: fit-content;
    font-family: Wawati SC, serif;
}

.manny-flag {
    padding: 16px 24px 16px 16px;
    background: url(../images/manny_marker_bg.svg) no-repeat;
    background-size: 100% 100%;
    color: white;
    font-size: 18px;
    margin-top: 32px;
    text-align: center;
    width: fit-content;
    font-family: Wawati SC, serif;
}

.swhemn-flag {
    padding: 16px 24px 16px 16px;
    background: url(../images/swhemn_marker_bg.svg) no-repeat;
    background-size: 100% 100%;
    color: white;
    font-size: 18px;
    margin-top: 32px;
    text-align: center;
    width: fit-content;
    font-family: Wawati SC, serif;
}
